<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>我要主页</h1>
<a href='/Test/index'>主页</a>|<a href='/Test/register'>注册</a>|<a href='/Test/login'>登录</a>|<a href='/Test/logout'>登出</a>|
<a href='/Test/buy'>我要买</a>|<a href='/Test/sell'>我要卖</a>|<a href='/Test/cuohe'>撮合</a>
|<a href='/Test/upload'>上传凭证</a>|<a href='/Test/viewPic'>查看凭证</a><br />
当前用户信息: email:{$user.email}      id:{$user.id}<br />
当前账户信息: 金币:{$account.coin}      金币券:{$account.coin_tic}<br />
当前买订单{$order.buy_order}<br />
当前卖订单{$order.sell_order}<br />
</body>
</html>