<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>登录</h1>
<a href='/Test/index'>主页</a>|<a href='/Test/register'>注册</a>|<a href='/Test/login'>登录</a>|<a href='/Test/logout'>登出</a>|
<a href='/Test/buy'>我要买</a>|<a href='/Test/sell'>我要卖</a>|<a href='/Test/cuohe'>撮合</a>
|<a href='/Test/upload'>上传凭证</a>|<a href='/Test/viewPic'>查看凭证</a><br />
<form action="" method='post'>
邮箱:<input type='text' name='email' value='' /><br />
密码:<input type='password' name='password' value='' /><br />
<input type='submit'>
</form>
</body>
</html>