<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/public/css/public.css">
<link rel="stylesheet" href="/public/css/login.css">
<!--表单验证-->
<link href="/public/css/validationEngine.jquery.css" rel="stylesheet"/>
</head>
<body>
<!--<h1>登录</h1>
<a href='/Test/register'>注册</a><br /><br />
<form action="" method='post'>
邮箱:<input type='text' name='email' value='' /><br />
密码:<input type='password' name='password' value='' /><br />
<input type='submit'>
</form>-->
<div class="r_logo"> <a href="#this">Logo</a> </div>
<div class="r_main clear">
<div class="r_main_content">
  <div class="r_loginNews">
    <h2 class="header-text">网站动态</h2>
    <p class="intro"><span class="date">2016年2月5日</span></p>
    <p>网站近期新功能更新:</p>
    <ul class="mlist">
      <li>
        <!--<p><strong>***<a target="_blank" href="#this"></a></strong></p>-->
      </li>
     
    </ul>
  </div>
  <div class="auth_container" id="tab">
    <div class="tabpanel">
      <ul class="tablist">
        <li ><a href="#this">登录</a></li>
        <li ><a href="#this">注册</a></li>
      </ul>
    </div>
    <div class="tab-content">
      <div  class="tabs_content">
        <form id="form_id" action='/Test/login' method='post'>
          <div class="form-group">
            <label><em>用户名</em><input  type="text" name='email'  placeholder="请输入用户名" class="form-control validate[required,custom[email]]"></label>
            <label><em>密&nbsp;码</em><input  type="password" name='password' placeholder="输入密码" class="form-control validate[required]"></label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn-auth"><span  class="loading_text">登 录</span></button>
          </div>
        </form>

      </div>
       <div class="tabs_content">
        <form id="register_id" action='/Test/register' method='post'>
          <div class="form-group">
            <label><em>用户名</em><input  type="text"  placeholder="邮箱" name="email" class="form-control validate[required,custom[email]]"></label>
            <label><em>密&nbsp;码</em><input  type="password" name='password' placeholder="密码" class="form-control validate[required,minSize[6],maxSize[20]]"></label>
            <label><em>推荐人</em><input  type="text" name='recommend_email' placeholder="推荐人" class="form-control"></label>
            <label><em>推荐人领导</em><input  type="text" name='recommendleader_email' placeholder="推荐人领导" class="form-control"></label>
            <label>
            	<em>区域</em>
                <select name='area' class="form-control">
                	<option>A</option>
                    <option>B</option>
                    <option>C</option>
                </select>
             </label>
            <label><em>安全密码</em><input name='safe_password'  type="password" placeholder="安全密码" class="form-control validate[required]"></label>
            <label><em>手机</em><input name='mobile' type="text" placeholder="手机" class="form-control validate[required] validate[minSize[11],custom[phone]"></label>
          </div>
          <div class="form-group">
            <button type="submit" class="btn-auth" ><span  class="loading_text">注 册</span></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
<footer class="footer">
  <div class="container">
    <div style="text-align:left" class="col-xs-12 col-sm-3"><span>版本: 0.6.1-c472edb7</span></div>
    <div class="col-xs-12 col-sm-9 right-links">
      <p class="t1"><a href="#this" target="_blank">首页</a><a href="#this" target="_blank">**百科</a><a href="#this" target="_blank">实时行情</a><a href="#this" target="_blank">开发者资源</a><a href="#this" target="_blank">新闻中心</a><a href="#this" target="_blank">信息查询</a><a href="#this" target="_blank">客户端</a></p>
      <p class="t2"><a href="#this" target="_blank">帮助</a><a href="#this" target="_blank">遵从法律</a><a href="javascript:void(0)"><i class="icon fa fa-skype"></i>在线客服</a><a href="#this">邮件反馈</a><a href="javascript:void(0)" class="lang curLang">中文</a><a href="javascript:void(0)"class="lang">English</a></p>
    </div>
    <p class="cr"><a href="#this" target="_blank">Radarlab.org ©2016</a></p>
  </div>
</footer>
<script src="/public/js/jquery-1.8.3.min.js"></script>
<script src="/public/js/public.js"></script>
<!--表单验证--> 
<script src="/public/js/jquery.validationEngine-zh_CN.js"></script> 
<script src="/public/js/jquery.validationEngine.js"></script> 
<script>
 $(document).ready(function() {
    publicApi.tabs("tab");
	$('#form_id,#register_id').validationEngine(); 
});
</script>
</body>
</html>