<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>注册</h1>
<a href='/Test/login'>登录</a><br /><br />
<form action="" method='post'>
邮箱:<input type='text' name='email' value='' /><br />
密码:<input type='password' name='password' value='' /><br />
推荐人email:<input type='text' name='recommend_email' /><br />
推荐人领导email:<input type='text' name='recommendleader_email' /><br />
区域:<input type='text' name='area' value='A'/><br />
安全密码:<input type='text' name='safe_password' /><br />
手机:<input type='text' name='mobile' /><br />
<input type='submit'>
</form>
</body>
</html>