<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>查看凭证</h1>
<a href='/Test/index'>主页</a>|<a href='/Test/register'>注册</a>|<a href='/Test/login'>登录</a>|<a href='/Test/logout'>登出</a>|
<a href='/Test/buy'>我要买</a>|<a href='/Test/sell'>我要卖</a>|<a href='/Test/cuohe'>撮合</a>
|<a href='/Test/upload'>上传凭证</a>|<a href='/Test/viewPic'>查看凭证</a><br />
<h2>买家截图</h2>
<img src="{$photo.save_name}" /><br />

<a href=''>确认发货</a>
<br />
<a href=''>联系客服</a>
</body>
</html>